[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=opptimizer-n9ui
Exec=/opt/opptimizer-n9ui/bin/opptimizer-n9ui
Icon=opptimizer-n9ui64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
